DB_NAME=...
ALLOW_ORIGINS=1,2,3,4,...
PORT=<port_container>
DB_URI=mongodb+...://<user>:<passwd>@<ip|mongodb|...>:<port_db>
GIN_MODE=debug|release
DATA_MANAGER_ID=<id_1>,<id_2>,...
JWT_SECRET=<secret_key>