DB_NAME=test
ALLOW_ORIGINS=http://localhost:3000
PORT=8080
GIN_MODE=debug
DATA_MANAGER_ID=2
JWT_PUBLIC_KEY_B64=abcdefgh....

CHAR_COLL=roles
WEAP_COLL=weapons

#DB_URI=mongodb://admin:admin@localhost:27000
DB_URI=mongodb://admin:admin@mongodb:27017